<section>
    <ul>
        <% @file_list.each do |file| %>
        <li><a href="/<%= file %>">
            <%= file %></a>
            <a href="/<%= file %>/edit">Edit file</a>
            <form class='inline' action="/<%= file %>/delete" method="post">
            <button type="submit">Delete</button>
            </form>
        </li>
        <% end %>
    </ul>
    <a href="/new">New Document</a>
    <br />
    <% unless signed_in %>

    <form action="/users/signin" method="get">
      <button type="submit">Sign In</button>
    </form>
    <% else %>
      <em><%= session[:user] %> is signed in.</em>
      <form action="/users/signout" method="post">
      <button type="submit">Sign Out</button>
      </form>
    <% end %>
</section>